@model GestorDeActividades.Models.WORKERS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WORKERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wok_name)
        </dd>

        <dt>
            Cargo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLES.rol_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wok_code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
